<br>
<div class="container content-center">
    <div class="row justify-content-center">
        <h1>Accounts Transaction  history</h1>
    </div>
    <br>
    <%= form_with  do |form| %>
        <div class="dropdown  btn-secondary ">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Select account that you want to see transaction history
            </a>
            <div class="dropdown-menu">
                <% @accounts.each do |account|%>
                    <%= link_to (account.number), "/transaction/#{account.id}", class:"dropdown-item custom-1", :remote => true  %>
                <% end %>
            </div>
        </div>

    <% end %>
    <div class="transaction-history"></div>  
</div>