<br>
<div class="container content-center">
    <div class="row justify-content-center">
        <h1>Withdraw here</h1>
    </div>
    <br>
    <%= form_with  do |form| %>    
        <div class="dropdown  btn-secondary ">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Select account you want to withdraw
            </a>
            <div class="dropdown-menu">
                <% @accounts.each do |account|%>
                    <% if account.type_of_account != "Loan"%>
                        <%= link_to (account.number), "/withdraw/#{account.id}", class:"dropdown-item custom-1", :remote => true  %>
                    <% end %>
                <% end %>
            </div>
        </div>

    <% end %>
    <div class="withdraw-money"></div>  
</div>